*{
    margin: 0;
    padding: 0;

}

.container{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 50px;
}

.right{
    display: flex;
    
}
.left{
    display: flex;
}
.langlogo img{
    height: 20px;
    margin-top: 10px;

}
.items{
    padding: 10px;
    
}
.items select{
    border: none;
    color: rgb(73, 63, 63);
}

.title{
    font-weight: 800;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
.info{
    font-size: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 40, 40);
}