#navbar{
    display: flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline;
    background-color: lightblue;
    height: 25px;
    border-radius: 25%;
    padding-left: 5px;
    padding-right: 5px;

}
ul{
    background-color: peachpuff;
    height: 25px;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: magenta;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    height: 200px;
    width: 200px;
    background-color: salmon;
}